<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<settings>
    <category label="General">
        <setting id="genres" type="text" label="30000" default=""/>
        <setting id="search" type="text" label="30001" default=""/>
        <setting id="settings" type="text" label="30002" default=""/>
        <setting id="popular" type="text" label="30003" default=""/>
    </category>
</settings>
